html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; /* Ocupa todo el espacio sobrante */
  padding: 1rem;
  box-sizing: border-box;
  background-color: #6a1919;
}
