<app-header></app-header>

<div class="blog">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa iste aliquam. Tempora architecto vero, assumenda in earum magni laborum, consequatur at, cupiditate recusandae natus nesciunt necessitatibus! Quisquam, doloribus fugiat. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus iste quibusdam molestias vitae maiores natus repudiandae quaerat iure nisi voluptas voluptate, sequi aspernatur facere non suscipit rerum. Atque, ducimus repudiandae!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere harum neque ea ab! Consectetur dolores ex deleniti optio recusandae eos omnis minus sed aperiam nulla, ut, reiciendis aliquid eius repudiandae.</p>
</div>

<app-footer></app-footer>
